<!-- BEGIN qf_error_loop -->
<font color="red">{qf_error}</font><br />
<!-- END qf_error_loop -->
<form {qf_attributes}>
<!-- BEGIN qf_hidden_block -->
<div style="display: none;">
<!-- BEGIN qf_hidden_loop -->
  {qf_hidden}
<!-- END qf_hidden_loop -->
</div>
<!-- END qf_hidden_block -->
            

<table>
 <!-- BEGIN qf_main_loop -->
 
 <!-- BEGIN qf_header -->
 {qf_header}
 <!-- END qf_header -->
 
 
 <!-- BEGIN qf_element -->
 <tr>
  <td>{qf_label}:<!-- BEGIN qf_element_required --><span style="color: #FF0000;">*</span> <!-- END qf_element_required --></td>
  <td>
  <!-- BEGIN qf_element_error --><font size="1" color="red">{qf_error}</font><br /><!-- END qf_element_error -->
    {qf_element}
  </td>
 </tr>
 <!-- END qf_element -->
<!-- BEGIN qf_group_table -->
  <tr><td colspan="2">
    <table class="list">
    <tr>
      <th colspan="8">func_gettext("Rights")</th>
    </tr>
    <tr>
      <th colspan="2">func_gettext("Application")</th>
      <th colspan="2">func_gettext("Area")</th>
      <th colspan="2">func_gettext("Right")</th>
      <th colspan="1">func_gettext("Level")</th>
    </tr>{qf_element}


    
    
    <!-- BEGIN qf_group_row -->
        
    <tr>
    
    <!-- BEGIN qf_group_row_loop -->

    
          <!-- BEGIN qf_group_row_static -->
          <!-- BEGIN qf_static_row_element --><td class="panel">{qf_element}</td>
          <td class="panel">-></td>

          <!-- END qf_group_row_static_element --> 
          <!-- END qf_group_row_static -->
    

        <!-- BEGIN qf_group_row_element -->
        <td class="panel">
            {qf_element}
        </td>
        <!-- END qf_group_row_element -->

    <!-- END qf_group_row_loop -->

  </td></tr>

        <!-- END qf_group_row -->
     
           </tr>
       </table>
    <!-- END qf_group_table  -->


  <!-- END qf_main_loop -->
</table>

