<form {edit_attributes}>
<table>

 <tr>
  <td>{edit_id_label}</td>
  <td>{edit_id_html}</td>
 </tr>
 <tr>
  <td>{edit_login_label}:</td>
  <td>{edit_login_html}</td>
 </tr>
 

 
 <tr>
  <td>{edit_name_label}:</td>
  <td>{edit_name_html}</td>
 </tr>

 <tr>
  <td>{edit_email_label}:</td>
  <td>{edit_email_html}</td>
 </tr>
 
  <tr>
  <td>{edit_password_label}</td>
  <td>{edit_password_html}</td>
 </tr>
 
 <tr>
  <td>{edit_password2_label}</td>
  <td>{edit_password2_html}</td>
 </tr>
 
 <tr><td colspan="2">
  <table class="list">
    <tr>
      <th colspan="2">Gruppen</th>
    </tr>
    <!-- BEGIN grouplist -->  
    <tr>
        <td class="panel">{group}</td>
        <td class="panel">{group_box}</td>
    </tr>
    <!-- END grouplist -->    
  </table>
 </td></tr>
  
 <tr>
  <td>{edit_submit_label}</td>
  <td>{edit_submit_html}{edit_delete_html}</td>
 </tr>
</table>


  
<br>

