Gruppe
<br>
<form {edit_attributes}>
<table>

 <tr>
  <td>{edit_id_label}</td>
  <td>{edit_id_html}</td>
 </tr>
 
 <tr>
  <td>{edit_name_label}:</td>
  <td>{edit_name_html}</td>
 </tr>
 
 <tr>
  <td>{edit_description_label}:</td>
  <td>{edit_description_html}</td>
 </tr>
 
 <tr>
  <td>{edit_define_label}:</td>
  <td>{edit_define_html}</td>
 </tr>

 <tr><td colspan="2">
  <table class="panel">
    <tr>
      <th colspan="8">Rechte</th>
    </tr>
    <tr>
      <th colspan="2">Anwendung</th>
      <th colspan="2">Bereich</th>
      <th colspan="1">Recht</th>
      <th colspan="1">Level</th>
    </tr>
    <!-- BEGIN rightlist -->  
    <tr>
        <td class="panel">{application}</td>
        <td class="panel">-></td>
        <td class="panel">{area}</td>
        <td class="panel">-></td>
        <td class="panel">{right}</td>
        <td class="panel">{right_box}</td>
    </tr>
    <!-- END rightlist -->    
  </table>
  </td></tr>

 <tr>
  <td>{edit_submit_label}</td>
  <td>{edit_submit_html}{edit_delete_html}</td>
 </tr>
</table>


  
<br>

