<html>
<head>
 <title>func_gettext("HRAdmin Login")</title>
 <meta name="autor" value="Carsten Bleek"></meta>
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></meta>
 <link rel="stylesheet"  href="/style.css">
 {menuhead}
</head>
<body>
<center>
<!-- login form to the admin part -->
<form method="post" action="index.php">
    <table style="border:1px solid #cccccc;margin-left: 12px; padding: 12px; margin-top: 40px ;background: #F1F3F5;">
    <tr>
      <td>
        <img src="/images/security.png" alt="login">
      </td>
      <td>
      <table>
        <tr>
          <td colspan="2">
          	<h1 style=" color:#333;" >func_gettext("Login")</h1>
          </td>
        </tr>
        <tr>
            <td>func_gettext("Username:")</td>
            <td><input name="handle" type="text" size="10" maxlength="10" /></td>
        </tr>
        <tr>
            <td>func_gettext("Password:")</td>
            <td><input name="passwd" type="password" size="10" maxlength="10" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="func_gettext("Login")" /></td>
        </tr>
      </table>
      </td>
    </tr>
    </table>
</form>
</center>
</body>
</html>