<html>
<head>
 <title>{title}</title>
 <meta name="autor" value="Carsten Bleek"></meta>
 <meta keywords="Joboter"></meta>
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></meta>
 <link rel="stylesheet"  href="/style.css">
 <script src="TreeMenu.js" language="JavaScript" type="text/javascript"></script>
 {menuhead}
</head>
<body>
<table cellspacing="0" cellpadding="0">
 <tr>
  <td height="100%" colspan="3" class="background">
   <table>
    <tr>
     <td class="infolineTop">
        {title}{path}
     </td>
    </tr>
    <tr>
     <td class="infolineTop">
        {login_top}
     </td>
    </tr>   
   </table>
  </td>
 </tr>
 <tr>
  <td valign="top" class="left">
    {menu}
  </td>
  <td valign="top"  width="80%">
    <div class="middle">
    {contentmain}
    </div>
  </td>
  <td class="right" valign="top">
   <img src="/images/spacer.gif" alt="" width="140" height="1">
   {contentright}
  </td>
 </tr>

 <tr>
  <td colspan="3">
   <div class="infoline">
     Copyright 2004 - Joboter | powered by 
     <a href="http://cross-solution.de>CROSS</a>
   </div>
  </td>
 </tr>
</table>
{menufoot}
</boby>
</html>
